<div class="col-lg-12">
	<div class="col-lg-6 pull-left">
		<img alt="" src="/images/circle_man.png"  style="width: 100px;" />
		<label style="margin-left: 15px; font-weight: normal; font-size: 20px;">Pick Date</label>
	</div>
	<div class="col-lg-6 pull-right text-center">
		<img alt="" class="img-responsive" src="/images/netsuite_logo.png" style="width: 350px;" />
	</div>
</div>
<div class="clearfix"></div>
<hr>
<div style="cursor: pointer;" ng-click="previousStep()" class="pull-left"><i class="glyphicon glyphicon-arrow-left"></i></div>
<div class="clearfix"></div>
<div class="form-group">
	<div class="marker" style="background-color: #c5c1ff"></div>
	<h3>{{event.eventName}}</h3>
	<span class="timezones" style="color: #BAAFAF">Times are in
		Pacific Time - US &amp; Canada</span>
</div>
<hr>
<div class="form-group">
	<span class="center-block"><h3>Select a Day</h3></span>
</div>
<div class="col-sm-12 cal">
	
	<span class="glyphicon glyphicon-chevron-left nav-icon"></span>
	<div class="day" ng-repeat="date in event.availableDates" ng-click="chooseDate(date)">
		<div style="margin-top: 10px;">
			<strong class="short">{{date.day}}</strong> <strong class="full">{{date.date}}</strong>
		</div>
	</div>
	<span class="glyphicon glyphicon-chevron-right nav-icon"></span>
</div>