<hr>
<div style="cursor: pointer;" ng-click="previousStep()" class="pull-left"><i class="glyphicon glyphicon-arrow-left"></i></div>
<div class="clearfix"></div>
<div class="form-group">
	<div class="marker" style="background-color: #c5c1ff"></div>
	<h3>30 Minute Meeting</h3>
	<span class="timezones" style="color: #BAAFAF">Times are in
		Pacific Time - US &amp; Canada</span>
</div>
<hr>
<div class="form-group">
	<span class="center-block"><h3>Select a Day</h3></span>
</div>
<div class="col-sm-12 cal">
	
	<div class="day" ng-repeat="date in event.availableDates">
		<div ng-click="chooseDate(date)">
			<strong class="short">{{date.day}}</strong> <strong class="full">{{date.date}}</strong>
		</div>
	</div>
</div>