<div class="form-group">
	<span class="q-label">What kind of product you would like to
		join?</span> <span class="required">*</span> <input type="text"
		class="form-control" ng-model="myInterval">
</div>
<br>
<div class="form-group">
	<span class="q-label">Would you intreseted in meetings?</span> <span
		class="required">*</span> <input type="text" class="form-control"
		ng-model="myInterval">
</div>
<br>
<div class="form-group">
	<span class="q-label">Comments?</span> <span class="required">*</span>
	<input type="text" class="form-control" ng-model="myInterval">
</div>
<button type="button" id="myButton" class="btn btn-primary center-block">
	Save</button>