<hr>
<div class="form-group m-140">
	<span class="confirm"><h4>Confirmed</h4>Your appointment is
		confirmed with Prashant Gupta</span>
</div>
<hr>

<div class="col-sm-6">
	<div class="form-group">
		<div class="marker"></div>
		<h3>30 Minute Meeting
	</div>

	<div class="form-group clr-green">
		<div class="glyphicon glyphicon-time m-left"></div>
		09:00am - Tuesday, June 21, 2016
	</div>


	<div class="form-group clr-gray"></div>

	<div class="form-group clr-gray">
		<div class="glyphicon glyphicon-globe m-left"></div>
		Pacific Time
	</div>
</div>