<div class="col-lg-12">
	<div class="col-lg-6 pull-left" style="max-height: 153px; overflow: hidden;">
		<img alt="" class="img-responsive" src="/images/circle_man.png"/>
	</div>
	<div class="col-lg-6 pull-right">
		<img alt="" class="img-responsive" src="/images/netsuite_logo.png"/>
	</div>
</div>
<div class="clearfix"></div>
<hr>
<div class="form-group m-140">
	<span class="confirm"><h4>Confirmed</h4>Your appointment is
		confirmed with {{event.createdBy}}</span>
</div>
<hr>

<div class="col-sm-6">
	<div class="form-group">
		<div class="marker"></div>
		<h3>{{event.eventName}}
	</div>

	<div class="form-group clr-green">
		<div class="glyphicon glyphicon-time m-left"></div>
		{{chosenTime}} - {{chosenDate.day}}, &nbsp; {{chosenDate.date}}, 2016
	</div>


	<div class="form-group clr-gray"></div>

	<div class="form-group clr-gray">
		<div class="glyphicon glyphicon-globe m-left"></div>
		Pacific Time
	</div>
	<div class="form-group clr-gray">
		<div class="glyphicon glyphicon-map-marker m-left"></div>
		Cleveland Convention Center
	</div>
</div>