<div class="col-lg-12">
	<div class="col-lg-6 pull-left">
		<img alt="" src="/images/circle_man.png"  style="width: 100px;" />
	</div>
	<div class="col-lg-6 pull-right text-center">
		<img alt="" class="img-responsive" src="/images/netsuite_logo.png" style="width: 350px;" />
	</div>
</div>
<div class="clearfix"></div>
<hr>
<div style="cursor: pointer;" ng-click="previousStep()" class="pull-left"><i class="glyphicon glyphicon-arrow-left"></i></div>
<div class="clearfix"></div>
<div class="col-md-offset-1">
	<label class="header">Profile Details</label>
</div>
<hr>
<div class="col-sm-6">
	<div class="form-group">
		<div class="marker"></div>
		<h3>{{event.eventName}}
	</div>

	<div class="form-group clr-green">
		<div class="glyphicon glyphicon-time m-left"></div>
		{{chosenTime}} - {{chosenDate.day}}, &nbsp; {{chosenDate.date}}, 2016
	</div>


	<div class="form-group clr-gray"></div>

	<div class="form-group clr-gray">
		<div class="glyphicon glyphicon-globe m-left"></div>
		Pacific Time
	</div>
	<div class="form-group clr-gray">
		<div class="glyphicon glyphicon-map-marker m-left"></div>
		Cleveland Convention Center
	</div>
</div>
<form name="detailForm" novalidate>
<div class="form-group col-sm-6">
	<h4>Enter Details</h4>
	<hr>
	<h5 class="required-clr">First Name*</h5>
	<input type="text" name="firstname" ng-model="detail.firstname" required="required" class="form-control">
	<span class="required" ng-show="detailForm.firstname.$error.required">Firstname is required.</span>
	
	<h5 class="required-clr">Last Name*</h5>
	<input type="text" required="required" ng-model="detail.lastname" class="form-control" name="lastname">
	<span class="required" ng-show="detailForm.lastname.$error.required">Lastname is required.</span>
	
	<h5 class="required-clr">Email Address*</h5>
	<input type="email" required="required" ng-model="detail.email" name="email" class="form-control">
	<span class="required" ng-show="detailForm.email.$error.required">Email is required.</span>
	<span class="required" ng-show="detailForm.email.$error.email">Invalid email address.</span>
	
	<button type="submit" ng-disabled="detailForm.$invalid" ng-click="nextStep()" style="display: block; margin-top: 20px;"
		class="action-button">Save</button>
</div>
</form>