<div class="col-md-offset-1">
	<label class="header">Profile Details</label>
</div>
<hr>
<div class="col-sm-6">
	<div class="form-group">
		<div class="marker"></div>
		<h3>30 Minute Meeting
	</div>

	<div class="form-group clr-green">
		<div class="glyphicon glyphicon-time m-left"></div>
		09:00am - Tuesday, June 21, 2016
	</div>


	<div class="form-group clr-gray"></div>

	<div class="form-group clr-gray">
		<div class="glyphicon glyphicon-globe m-left"></div>
		Pacific Time
	</div>
</div>
<div class="form-group col-sm-6">

	<h4>Enter Details</h4>
	<hr>
	<label>First Name</label> <input type="text" class="form-control">
	<label>Last Name</label> <input type="text" class="form-control">
	<label>Email Address</label> <input style="margin-bottom: 20px;" type="text" class="form-control">
	<button type="button" ng-click="nextStep()" style="display: block; !important" class="action-button">
	Save</button>
</div>