<h3 align="left">Schedule your appointment, please answer these questions to complete the registration</h3>
<br/>
<form name="questionForm" novalidate>
<div class="form-group" ng-repeat="question in event.questions">
	<ng-form name="innerForm">
		<span>{{question.title}}</span> <span class="required">*</span> <input type="text" name="question"
			class="form-control" required="required" ng-model="question.answer">
		<span class="required" ng-show="innerForm.question.$error.required">Please answer this question.</span>
	</ng-form>
</div>
<br>
<button type="submit" ng-disabled="questionForm.$invalid" ng-click="nextStep()"  style="display: block; !important" class="center-block action-button">
	Save</button>
</form>