
<div class="form-group">
	<span>What kind of product you would like to
		join?</span> <span class="required">*</span> <input type="text"
		class="form-control" ng-model="myInterval">
</div>
<br>
<div class="form-group">
	<span>Would you intreseted in meetings?</span> <span
		class="required">*</span> <input type="text" class="form-control"
		ng-model="myInterval">
</div>
<br>
<div class="form-group">
	<span>Comments?</span> <span class="required">*</span>
	<input type="text" class="form-control" ng-model="myInterval">
</div>
<button type="button" ng-click="nextStep()" style="display: block; !important" class="center-block action-button">
	Save</button>