<hr>
<div style="cursor: pointer;" ng-click="previousStep()" class="pull-left"><i class="glyphicon glyphicon-arrow-left"></i></div>
<div class="row mbm">
	<h4 align="center">Select a Time</h4>
</div>
<hr>
<div class="col-lg-offset-4 wrapper narrow">
	<div class="text-center mbm"></div>
	<div class="js-spot-list mbl">
		<div class="js-am-spot-list">
			<ul class="spots">
				<li class="spot available collapsed" ng-repeat="">
					<button ng-show="demo" ng-click="demo = !demo"
						class="time-button js-select animate-show">09:00am</button>
					<button ng-hide="demo" ng-click="demo = !demo"
						class="time-button-inverse js-select animate-show">Confirm</button>
				</li>
			</ul>
		</div>
	</div>
</div>