.animate-show {
	width: 100%;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.2s;
}

.animate-show.ng-hide {
  opacity: 0;
  width : 0%;
}

.spots .spot .time-button, .spots .spot .time-button-inverse {
    font-size: 14px;
    line-height: 1.3em;
    display: inline-block;
    box-sizing: border-box;
    padding: 18px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.spots .spot .time-button {
    border: 1px solid #00A2FF;
    color: #00A2FF;
    background: transparent;
    cursor: pointer;
}

.spots .spot .time-button-inverse {
    border: 1px solid #00A2FF;
    color: #FFF;
    background: #00A2FF;
    cursor: pointer;
}

.footer{
	position:fixed;
	bottom: 0;
	width: 100%;
	background-color: #e3e3e3;
}

.wrapper.narrow {
    max-width: 380px;
}

.footer .wrapper{
    text-align: center;
    padding: 10px 0;
    color: #393034;
    font-size: 14px;
}

.spots {
    max-width: 380px;
}

.spots .spot {
    font-size: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
}
.q-label {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 18px;
	color: #a8a8a8;
}
.action-button {
    display: inline-block;
    border: 1px solid #108dff;
    background: transparent;
    font-size: 16px;
    line-height: 42px;
    padding: 0px 15px 0 15px;
    color: #108dff;
    box-sizing: border-box;
    cursor: pointer;
    width: 120px;
}

.marker {
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}
.col1of2 {
	width: 50%;
}

h3, h4 {
	font-size: 16px;
	line-height: 1.3em;
	font-weight: bold;
	color: #817A7A;
}

.timezone-area {
	position: relative;
	float: right;
}
.timezone-area .muted {
	position: relative;
	top: 1px;
	margin-right: 3px;
}
.timezone-area .timezone {
	display: inline-block;
}
.col1of2, .col2of4, .col3of6 {
	width: 50%;
}

.timezones{
	float: right;
	margin-top: -30px;
}
.form-group .center-block {
	display: block;
	margin-right: auto;
	margin-left: 400px;
}
.day {
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	width: 80px;
	height: 80px;
	border: 4px solid #00A2FF;
	border-radius: 50%;
}
.full {	
	font-size: 14px;
	margin-left: 10px;
	color: #c9c9c9;
}
.short{	
	text-align: center;
	margin-left: 18px;
}
.cal{
	margin-left: 105px;
}
.required {
	color: red;
}